[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sigmai-elastic-client = {git = "ssh://git@github.com/SigmaNewsVenturesGroupLtd/sigmai-elastic-client.git", editable = true, ref = "v50"}
sigmai-suzi = {git = "ssh://git@github.com/SigmaNewsVenturesGroupLtd/sigmai-suzi", editable = true, ref = "v19"}
"elasticsearch2" = "*"
python-dateutil = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.6"
